(instrumentation {:enabled? false})

(tcp-server {
  :host "127.0.0.1"
  :port 5001})

(def client-args {
  :host "127.0.0.1"
  :port 5000
  :tls? true
  :key     "./pki/private/alice.pkcs8"
  :cert    "./pki/issued/alice.crt"
  :ca-cert "./pki/ca.crt"})

(let [client (tcp-client client-args)]
     (streams prn (forward client)))
